* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}


/* Header Section */

header {
    height: 5vh;
    width: 100%;
}

nav {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(rgba(211, 129, 52, 1), rgba(235, 173, 38, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

a {
    font-size: 24px;
    color: rgba(235, 173, 38, 0.85);
    text-decoration: none;
}

/* Hero Section */

.hero-background {
    background: url('./img/cap-smoking.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero {
    width: 100%;
    height: 95vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content {
    width: 70vw;
    height: 45vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h2 {
    font-size: 4.8rem;
    font-weight: extra-bold;
    /*color: #d38134;*/
    color: white;
    background: linear-gradient(rgba(211, 129, 52, 0.85), rgba(235, 173, 38, 0.85));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 20px 0;
}

.content p {
    margin: 20px 0;
    font-size: 1.8rem;
    color: #cfd1d4;
}

.join {
    margin: 40px -18px;
    flex-shrink: 0;
    width: 220px;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    background: transparent;
    color: rgba(235, 173, 38, 1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


/* About Section */

#about {
    height: 98vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgba(211, 129, 52, 1), rgba(235, 173, 38, 1));
    background-repeat: no-repeat;
    background-size: cover;
}

.block-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    background: linear-gradient(rgba(255, 156, 64, 0.85), rgba(250, 184, 42, 0.85));
    background-clip: text; 
    -webkit-background-clip: text;
    color: transparent;
}

.about-block {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about h2 {
    font-size: 54px;
    padding-bottom: 90px;
    color: #000;
}

#about img {
    width: 225px;
    height: 300px;
    border-radius: 20px;  
}

#about h3 {
    font-size: 36px;
    color: #000;  
}

#about p {
    font-size: 24px;
    color: #000;
}


/* Quote Section*/

#inspiration {
    height: 105vh;
    background: url('./img/price-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.quote-text {
    width: 60vw;
    margin-bottom: 160px;
    color: #fff;
    background: linear-gradient(rgba(248, 121, 2, 0.85), rgba(235, 173, 38, 0.85));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.quote-text p {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
}

.quote-text h3 {
    font-size: 24px;
    text-align: right;
    margin-top: 30px;
    margin-right: 25px;
}

/* Call to Action whatever section */

#join {
    height: 100vh;
    background: url('./img/call-to-arms.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-call {
    height: 50%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    background: linear-gradient(rgba(248, 121, 2, 1), rgba(235, 173, 38, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sub-call .text {
    margin-right: 100px;
}


/* Footer LOL */

footer {
    height: 10vh;
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: #e5e7eb;
    font-size: 16px;
}

footer a {
    font-size: 18px;
}

.join:hover {
    color: #fff;
}

a:hover {
    color: #fff;
}

